@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image:url(imagenes/Fondo-Rap.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgba(243, 243, 247, 0.993);
}

a:link, a:visited, a:active {
    text-decoration: none;
    color:  white;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 2%;
}

/* HEADER */

.header-container{
    display: flex;
    width: 58%;
    text-align: center;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
}

.navbar-container{
    background-color: #23212188;
    width: fit-content;
    cursor: pointer;
    height: fit-content;
    padding: 2%;
}

.navbar-menu{
    height: 0px;
    overflow: hidden;
    font-weight: 300;
    font-size: 1.2em;
    text-align: left;
}

.navbar-container:hover > .navbar-menu{
    height: fit-content;
}

.titulo-container{
    margin-bottom: 13%;
}

header h1{
    font-weight: 700;
    font-size: 4.6em;
    margin-top: 22%;
}

header h2{
    font-weight: 300;
}

nav p{
    font-size: 1.5em;
    text-align: center;
}

.menu-item{
    margin-top: 5%;
}

.menu-item :hover{
    color: #7f1d1dc3;
}

/* FORMULARIO */

.section-form{
    width: 100%;
    display: flex;
    justify-content: right;
}

.form-container{
    width: 45%;
    background-color: rgba(0, 0, 0, 0.71);
}

.form{
    display: flex;
    flex-direction: column;
}

.banner1 {
    background-color: #8F1313;
    padding: 1% 3% 1.5% 3%;
    margin-bottom: 4%;
} 

.banner1 p{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

form input {
    padding: 1.5%;
    background-color: #232121c4;
    margin-bottom: 2%;
    border: none;
    margin-right: 2%;
    margin-left: 2%;
}

form input:hover{
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.265);
}

.botones-container{
    display: flex;
    justify-content: space-between;
    margin: 2% 2% 3.5% 2%;
}

.boton-primario{
    background-color: #8F1313;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    width: 40%;
    padding: 1.5%;
    border: none;
}

.boton-secundario{
    background-color:#8f131300 ;
    border: #8F1313 2px solid;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    width: 40%;
    padding: 1.5%;
}

.boton-primario:hover{
    box-shadow: 3px 3px 6px #8f1313ac;
    cursor: pointer;
}

.boton-secundario:hover{
    box-shadow: 3px 3px 6px #8f1313ac;
    cursor: pointer;
}

/* BENEFICIOS */

.section-beneficios{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.transmision{
    width: 45%;
    background-color: #232121b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4%;
    
}

.transmision p{
    background-color: #232121;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 3%;
    width: 100%;
    margin-bottom: 10%;
}

.beneficios{
    background-color: black;
    width: 55%;
    padding: 0 2% 2% 3%;
}

.beneficios h3{
    margin-bottom: 6.3%;
}

.beneficios span{
    display: flex;
    align-items: center;
    margin-top: 4.3%;
}

.beneficios p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1em;
}

.beneficios img{
    margin-right: 1%;
}

/* SOBRE RAP */

.sobre{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.full-continer-sponsors{
    background-color: #232121;
    height: fit-content;
    padding: 1%;
    width: 55%;
}

.continer-sponsors{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.sobre article{
    width: 45%;
    background-color: #8F1313;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 2% 2% 2%;
}

.sobre article p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.7em;
}

/* TESTIMONIOS */

.testimonios-container h3{
    background-color:#232121b3;
    margin: 0;
}

.carousel{
    background-color: #8F1313;
    padding: 3%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1em;
}

.item{
    margin: 5% 20%;
}
/*Footer */
.footer-container h3{
    background-color:#232121b3;
    margin: 0;
}

.carousel{
    background-color: #8F1313;
    padding: 3%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1em;
}

.item{
    margin: 5% 20%;
}
